@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

p {
    font-family: 'Press Start 2P', cursive;
    color: white;
}

a {
    text-decoration: none;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header {
    height: 100px;
    background-color: brown;
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-areas: 
    "myt src log";
}

body {
    background: url(/img/layout_background.png) no-repeat fixed;
}


.grid_wrapper {
    display: grid;
    grid-template-columns:1fr 800px 1fr;
    grid-template-areas: 
    "area1 area2 area3";
}

.grid_child {
    grid-area: area2;
}

#main_start {
    background-color: aqua;
    display: grid;
    grid-template-columns:1fr 1fr;
    grid-template-areas: 
    "d3 d4"
}

.article_pokemon {
    background-color: lightgray;
    color: white;
    height: 100px;
    border-style:outset;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.article_pokemon:hover {
    background-color: rgb(192, 192, 192);
    border-style:none;
}

#main_login {
    background-color: aqua;
    height: 477px;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#main_create {
    background-color: aqua;
    height: 477px;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#search {
    display: flex;
    justify-content: center;
    align-items: center;
}

#myteams {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 85px;
}

#login {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#login a {
    margin-right: 40px;
    font-size: 20px;
}

#main_register {
    background-color: aqua;
    height: 477px;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#main_show {
    background-color: aqua;
    height: 477px;
    display:grid;
    grid-template-columns:1fr 2fr;
    grid-template-rows: 327px 150px;
    grid-template-areas: 
    "pr st"
    "gr gr"

}

.profile {
    grid-area: pr;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: lightgray;
    color: white;
    border-style:outset;
}

.profile img {
    height: 200px;
}

.type {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.type img {
    height: 45px;
    width: auto;
}

.stats {
    grid-area: st;
    background-color: lightgray;
    color: white;
    border-style:outset;
}

.moves_grid_wrapper {
    grid-area: gr;
    display: grid;
    grid-template-columns:1fr 1fr;
}

.moves_grid_wrapper article {
    background-color: lightgray;
    color: white;
    border-style:outset;
}

.grid_wrapper_teams {
    background-color: lightgreen;
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "d3 d4"
}

#main_teams {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

#main_teams .team_wrapper {
    display: grid;
    grid-template-columns:1fr 1fr;
    grid-gap: 30px;
}

#main_teams .team_wrapper .team {
    height: 400px;
    width: 300px;
    margin-top: 30px;
    padding-top: 10px;
    padding-left: 10px;
    background-color: lightgray;
    color: white;
    border-style:outset;
}

#main_teams .team_wrapper .team .name_and_picture {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#main_teams .team_wrapper .team .team_name {
    display: flex;
    justify-content: center;
    align-items: center;
}

#main_teams .team_wrapper .team .team_name p {
    color: darkblue;
}


#main_teams .team_wrapper .team .name_and_picture img {
    height: 60px;
}